body{
  height: 100%;
}

span {
  font-size: 40px;
}

#picture {
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
}

#topContainer {
  position: relative;
    background: rgba(255, 255, 255, 0.3);
}

.maxHeight {
  position: relative;
  height: 700px;
}
